@model RestaurantRestockPro.Models.RestaurantModels.RestaurantDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RestaurantDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RestaurantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<br />
<br />
<br />
<blockquote>
    <p>
        Having been in the restaurant business, our job in the restaurant business is to be responsible for our customers' happiness. It's the nature of the hospitality business. You need to take care of people. You take care of customers above all others. Customers are your lifeblood.
    </p>
    <footer>Andrew Zimmern</footer>
</blockquote>

