@model IEnumerable<RestaurantRestockPro.Models.StockOrderModels.StockOrderListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="row">
    <div class="col-lg-12 col-lg-offset-3">
        <img src="~/img/stockorderpto1.jpg" alt="..." class="img-circle">
    </div>
</div>
<br />
<br />
<br />
<br />

<h2>Stock Orders</h2>

<p>
    @Html.ActionLink("Create a Stock Order", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type"button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StockOrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StockOrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StockOrderId })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />
<div class="row">
    <div class="btn-group col-lg-offset-3">
        <div class="col-md-12">
            <p><a class="btn btn-danger btn-lg btn-block" href="https://localhost:44374/Restaurant">Restaurants &raquo;</a></p>
        </div>
        <div class="col-md-12">
            <p><a class="btn btn-danger btn-lg btn-block" href="https://localhost:44374/Restock">Restock &raquo;</a></p>
        </div>
        <div class="col-md-12">
            <p><a class="btn btn-danger btn-lg btn-block" href="https://localhost:44374/StockItem">Stock Items &raquo;</a></p>
        </div>
    </div>
</div>

