@model RestaurantRestockPro.Models.RestockModels.RestockDetail

@{
    ViewBag.Title = "Details";
}

<h2>Restock Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestockId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestockId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockOrderId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RestockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<br />
<br />
<br />
<blockquote>
    <p>
        To eat well, I always disagree with critics who say that all restaurants should be fine dining. You can get a Michelin star if you serve the best hamburger in the world.
    </p>
    <footer>David Chang</footer>
</blockquote>
